*

!plantilla_SAD.py
!schema_config.json
!README.md
!.gitignore
!clasificarItemsNuevos.py
!proyecto
!proyecto/modelo_proyecto.py
!proyecto/schema_config.json
!proyecto/config_proyecto.json
!proyecto/snippets
!proyecto/snippets/*
