*

!plantilla_SAD.py
!schema_config.json
!README.md
!.gitignore
!clasificarItemsNuevos.py
!proyecto
!proyecto/modelo_proyecto.py
!proyecto/schema_config.json
!proyecto/config_proyecto.json
!proyecto/snippets
!proyecto/snippets/*
!proyecto/configuraciones
!proyecto/configuraciones/*
proyecto/configuraciones/configuraciones.tex
proyecto/configuraciones/configuraciones2.tex
!proyecto/out
!proyecto/out/out.md
!proyecto_clustering/
!proyecto_clustering/crear_modelo_config.py
!proyecto_clustering/crear_modelo_run.py
!proyecto_clustering/prueba5_k.ipynb
!proyecto_clustering/crear_modelo_run_5.py
!proyecto_clustering/crear_modelo_run_6.py
!proyecto_clustering/crear_modelo_run_7.py
!proyecto_clustering/crear_modelo_run_8.py
!proyecto_clustering/crear_modelo_run_9.py
!proyecto_clustering/crear_modelo_run_10.py
!proyecto_clustering/crear_modelo_run_11.py
!proyecto_clustering/crear_modelo_run_12.py
!proyecto_clustering/crear_modelo_run_13.py
!proyecto_clustering/crear_modelo_run_14.py
!proyecto_clustering/crear_modelo_run_15.py
!proyecto_clustering/prueba16.ipynb
!proyecto_clustering/prueba17.ipynb
!proyecto_clustering/prueba18.ipynb
!proyecto_clustering/prueba19.ipynb
!proyecto_clustering/prueba20.ipynb
!proyecto_clustering/prueba21.ipynb
!proyecto_clustering/prueba22.ipynb
!proyecto_clustering/prueba23.ipynb
!proyecto_clustering/divisor_csv.py
!proyecto_clustering/crear_modelo_run_24.py
!proyecto_clustering/contador_de_problemas.py
!proyecto_clustering/pruebas.md
!proyecto_clustering/place_to_coord.py
!proyecto_clustering/coord_separator.py
