*

!plantilla_SAD.py
!schema_config.json
!README.md
!.gitignore
!clasificarItemsNuevos.py
!proyecto
!proyecto/modelo_proyecto.py
!proyecto/schema_config.json
!proyecto/config_proyecto.json
!proyecto/snippets
!proyecto/snippets/*
!proyecto/configuraciones
!proyecto/configuraciones/*
proyecto/configuraciones/configuraciones.tex
proyecto/configuraciones/configuraciones2.tex
!proyecto/out
!proyecto/out/out.md
